#paperplane-cookie-notice {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 6px);
  bottom: 0;
  left: 0;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  border: #989898 solid 3px;
  background-color: #000000;
  color: #F1F1F1;
  transition: opacity 1s;
  pointer-events: none;
  opacity: 0;
}

#paperplane-cookie-notice.shown {
  pointer-events: all;
  opacity: 1;
}

#paperplane-cookie-notice .paperplane-cookie-notice-container {
  position: relative;
  width: calc(100% - 20px);
  max-width: 768px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#paperplane-cookie-notice .paperplane-cookie-notice-container .paperplane-message-cookie-accepted,
#paperplane-cookie-notice .paperplane-cookie-notice-container .paperplane-message-cookie-refused {
  display: none;
}

#paperplane-cookie-notice a {
  display: inline-block;
  margin: 5px;
  padding: 3px 6px;
  background-color: #FFFFFF;
  color: #000000;
  text-transform: uppercase;
}

.paperplane-gdpr-content-message {
  position: relative;
  padding: 10px;
  margin: 20px 0;
  background-color: #000000;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
}

.paperplane-gdpr-content-message p {
  margin: 0;
}

.cookies-list-block {
  border-bottom: #000000 solid 1px;
  padding-bottom: 10px;
  margin-top: 20px;
}
